<h1>About This App</h1>

<p>This application uses external data sources to populate its content:</p>

<ul>
  <li><strong>Open Library API</strong> – for fetching book, author, and genre information. <a href="https://openlibrary.org/developers/api" target="_blank">Learn more</a></li>
</ul>

<h2>My plan</h2>
<p>I am planning to use an API from a bookstore to retrieve information from the books, including author, genre, and publishers. The tables are: Authors, Books, Genres, Book_Genre and Publishers.
</p>
<h2>Entity Relationship Diagram (ERD)</h2>
<p>Below is the ERD representing the relationships in the app:</p>
<%= image_tag("ERDBooks.jpg", alt: "ERD Diagram") %>